<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>{{title}}</h1>
    <form>
        <input type="text" placeholder="Location" class="weather__text">
        <input type="submit" class="weather__submit">
    </form>
    <img class="weather__icon">
    <p class="weather__wind"></p>
    <p class="message__one"></p>
    <p class="message__two"></p>
    <script src="/scripts/app.js"></script>
</body>
</html>